<template>
  <div>
    <ssk-header/>
    <ssk-product/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import 'header'
import 'products'
export default {
  name: 'home',
  components: {
    HelloWorld
  }
}
</script>
